@use '/src/styles/_variables.scss' as v;


.section {
    width: 100%;
    padding-inline: 7.5vw;
    padding-block: 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
}
.section > h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}

.contentWrapper{
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.contentWrapper > article {
    width: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
}
.info > a {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    color:v.$textColor;
    transition: 0.25s ease-in-out;
}
.info > a > img {
    width: 3rem;
    margin-right: 1rem;
    filter: invert(18%) sepia(4%) saturate(932%) hue-rotate(11deg) brightness(95%) contrast(87%);
    transition: 0.25s ease-in-out;

}

.info > a:hover{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);

}



.map > iframe{
    width: 100%;
    aspect-ratio: 10/8;
    border: 0;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.25);
}


@media only screen and (min-width: 0px) and (max-width:640px) {
    .contentWrapper{
        flex-direction: column;
    }
    .contentWrapper > article {
        width: 100%;
    }
    .info > a {
        white-space: wrap;
        
        width: 100%;
    }
    .map > iframe{
        aspect-ratio: 10/16;
        margin-top: 3rem;
    }

}
 @media only screen and (min-width: 640px) and (max-width:992px){
}
    
@media only screen and (min-width: 992px) and (max-width:1200px) {
    
}
@media only screen and (min-width: 1200px) {
    
}